#b2{
    /*-fx-background-color: "blue";
    -fx-font-size: 20;*/
}

#secretTxtLabel{
    /*-fx-background-color: "blue";*/
    -fx-font-size: 30;
}

#progressBar{
    -fx-pref-height: 30px;
}

#progressBar .track{
    -fx-background-color: #505762;
    -fx-background-radius: 0;
}

#progressBar .bar{
    -fx-background-color: linear-gradient(to left, #ffd500, #4d4a4a);
}

.gradient-background{
    -fx-background-color: linear-gradient(from 0% 34% to 78% 100%, #51506f, #AAB2BD, #DAC432);
}

